PORT=5001
NODE_ENV=development
MONGO_URI=mongodb+srv://nextgen:nextgen25@nextgen.yxwbqnc.mongodb.net/?appName=nextgen
REDIS_HOST=localhost
REDIS_PORT=6379
CLERK_SECRET_KEY=sk_test_CM7t9EKL2i7CWqAl8MZqXCs1EZM867WpswaFYzUL3u
CLERK_PUBLISHABLE_KEY=pk_test_cHVtcGVkLXNuYWlsLTQ4LmNsZXJrLmFjY291bnRzLmRldiQ
LOG_LEVEL=info
